* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #ecf0f1;
  font-family: 'Roboto', sans-serif;
}

img {
  max-width: 100%;
}

.card {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  width: 350px;
}

.card-header {
  height: 200px;
}

.card-header img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.card-content {
  background-color: #fff;
  padding: 30px;
}

.card-title {
  height: 20px;
  margin: 0;
}

.card-excerpt {
  color: #777;
  margin: 10px 0 20px;
}

.author {
  display: flex;
}

.profile-img {
  border-radius: 50%;
  overflow: hidden;
  height: 40px;
  width: 40px;
}

.author-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 10px;
  width: 100px;
}

.author-info small {
  color: #aaa;
  margin-top: 5px;
}

.animated-bg-text {
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
  /* transition: background 0.3s linear; */
  /* animation: animated-bg-text 0.4s infinite ease-out; */
}

.animated-bg {
  animation: animated-bg 0.4s infinite ease-out;
}

@keyframes animated-bg-text {
  0%,
  25% {
    background: #ada996; /* fallback for old browsers */

    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.2),
      #f2f2f2,
      #f2f2f2,
      #f2f2f2
    );
  }
  25%,
  50% {
    background: linear-gradient(
      to right,
      #f2f2ff,
      rgba(0, 0, 0, 0.2),
      #f2f2f2,
      #f2f2f2
    );
  }
  50%,
  75% {
    background: linear-gradient(
      to right,
      #f2f2f2,
      #f2f2f2,
      rgba(0, 0, 0, 0.2),
      #f2f2f2
    );
  }
  100% {
    background: linear-gradient(
      to right,
      #f2f2ff,
      #f2f2f2,
      #f2f2f2,
      rgba(0, 0, 0, 0.2)
    );
  }
}

.animated-bg-text {
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
  transition: 0.3s ease-out;
  animation: animated-bg-text 1s infinite linear;
}

.animated-bg {
  transition: all ease-out 0.3s;
  animation: animated-bg-text 1s infinite linear;
}

@keyframes animated-bg {
  0%,
  20% {
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.2),
      #f2f2f2,
      #f2f2f2,
      #f2f2f2,
      #f2f2f2
    );
  }
  20%,
  50% {
    background: linear-gradient(
      to right,
      #f2f2ff,
      rgba(0, 0, 0, 0.2),
      #f2f2f2,
      #f2f2f2,
      #f2f2f2,
      #f2f2f2
    );
  }
  50%,
  65% {
    background: linear-gradient(
      to right,
      #f2f2f2,
      #f2f2f2,
      rgba(0, 0, 0, 0.2),
      #f2f2f2,
      #f2f2f2,
      #f2f2f2
    );
  }
  65%,
  80% {
    background: linear-gradient(
      to right,
      #f2f2ff,
      #f2f2f2,
      #f2f2f2,
      rgba(0, 0, 0, 0.2),
      #f2f2f2,
      #f2f2f2
    );
  }
  100% {
    background: linear-gradient(
      to right,
      #f2f2f2,
      #f2f2f2,
      #f2f2ff,
      #f2f2f2,
      #f2f2f2,
      rgba(0, 0, 0, 0.2),
      #f2f2f2,
      #f2f2f2
    );
  }
}
